<mat-card *ngIf="analyzedData">
  <h2>Analyzed Clients Data</h2>
  <p><strong>Total Clients:</strong> {{ analyzedData.total_clients }}</p>
  <p><strong>Total connected clients:</strong> {{ analyzedData.connected_clients }}</p>
  <p><strong>Total Unconnected Clients:</strong> {{ analyzedData.unconnected_clients }}</p>
  
  <p><strong>Instant Port Profile Types:</strong> {{ analyzedData.instant_port_profile_types?.join(', ') }}</p>
  
  <p><strong>Operating System Types:</strong> {{ analyzedData.operating_system_types?.join(', ') }}</p>
  
  <p><strong>Username Types:</strong> {{ analyzedData.usernames_types?.join(', ') }}</p>

  <div *ngIf="analyzedData.clients_per_location">
    <p><strong>Clients per Location:</strong></p>
    <ul>
      <li *ngFor="let location of objectKeys(analyzedData.clients_per_location)">
        <strong>{{ location | titlecase }}:</strong> {{ analyzedData.clients_per_location[location] }}
      </li>
    </ul>
  </div>

  <div *ngIf="analyzedData.insights">
    <p><strong>Insights:</strong></p>
    <ul>
      <li *ngFor="let insight of analyzedData.insights">
        {{ insight }}
      </li>
    </ul>
  </div>

  <div *ngIf="analyzedData.management_issues">
    <p><strong>Management Issues:</strong></p>
    <ul>
      <li *ngFor="let issue of objectKeys(analyzedData.management_issues)">
        <strong>{{ issue | titlecase }}:</strong> {{ analyzedData.management_issues[issue] }}
      </li>
    </ul>
  </div>

  <button mat-button color="warn" (click)="closeDialog()">Close</button>
</mat-card>
